<script src="http://localhost/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost');
  socket.on('news', function (data) {
  console.log(data);
  socket.emit('my other event', { my: 'data' });
  });
</script>
